@import "./variable";

p-chips {
	&#qjbFromSiteChips,
	&#qjbToSiteChips {
		> div.p-chips {
			width: 100%;
		}
	}
	&.chips-fit {
		li.p-chips-token {
			width: fit-content;
		}
	}
	&.chips-disable {
		ul.p-inputtext {
			background-color: $disabled2-color;
		}
	}
	&.chips-enable {
		ul.p-inputtext {
			background-color: white;
			opacity: 1;
		}
	}
	&.visible {
		.p-chips-input-token {
			visibility: visible !important;
		}
	}
	&.reject-cp {
		.p-chips {
			width: 100%;
			display: grid;
			ul.p-chips-multiple-container {
				width: 100%;
				padding: 0.25rem 0.5rem !important;
				li.p-chips-token {
					max-width: 100%;
					span.p-chips-token-label {
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
					}
				}
			}
		}
	}
	&.hide-token {
		.p-chips-input-token:last-child {
			display: none !important;
		}
	}
}
