#changeSymptom,
#picklistModal {
    .p-listbox {
        ul {
            li.p-listbox-item.p-highlight {
                background: $primary-color !important;
            }
        }
    }
}

p-listbox.remove-checkbox-all {
    .p-listbox-header {
        .p-checkbox {
            display: none;
        }
    }
}
